<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Forgot Your Password?</h1>
    </header>

    <nav>
        <a href="{{ url_for('auth.login')}}">Home</a>
    </nav>

    <main>
        <form action="{{ url_for('auth.forgot_password') }}" method="post">
            <label for="email">Enter your email address:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Reset Password</button>
        </form>
        <p>Please enter the email address associated with your account. 
            We will send an email with instructions to reset your password.</p>
    </main>

    <aside>
      
    </aside>

    <footer>
    </footer>

    <script></script>
</body>
</html>