<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- Container for Toggle and Brand -->
    <div class="d-flex align-items-center">

        <!-- Navbar Brand -->
      <a class="navbar-brand ms-2" href="#">TaskTok</a>
      <!-- Toggle Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


    </div>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href={{ url_for('views.home') }}>Home</a>
        <a class="nav-link" href={{ url_for('views.user_settings') }}>Settings</a>
        <a class="nav-link disabled" aria-disabled="true">Admin</a>
      </div>
    </div>
  </div>
</nav>
