{% extends "base.html" %}

{% block title %}User Settings{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <header>
        <h1>TaskTok Profile Page</h1>
    </header>

    <div class="container">
        <main>
            <form action="{{ url_for('views.user_settings') }}" method="post">
                <label>Username: </label>
                <input type="text" placeholder="Enter Username" name="username" id="username" value="{{username}}" required>

                <label>E-Mail: </label>
                <input type="text" placeholder="Enter Email" name="email" id="email" value="{{email}}" required>
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

                <button class="submit" type="submit" name="register_button" value="register_button">Commit</button>
                <p class="purpose" align="center"> <a href="{{url_for('views.home')}}">Go Back</a></p>
            </form>
        </main>
    </div>

    <aside>
        <!-- Aside content if any -->
    </aside>

    <footer>
        <!-- Footer content -->
    </footer>
{% endblock %}
