{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1 text-align: center> {{title}}</h1>
        <div class="content">
            <p>{{paragraph1}}</p>
            <p>{{paragraph2}}</p>
        </div>
        
    </div>

            <div class="column c80">
                
                <img src="{{url_for('static', filename=CURRENT_CAR_IMAGE) }}" class="carimage" alt=""  />
                <footer>
                    <!--variable containing the price of the tesla selected -->
                    <h3>{{FINISHMESSAGE}}</h3>
                    <!-- A post method to get us to the order page (model selector) -->
                     {% if isFinished == True %}
                     <form method="POST" action={{url_for("views.info")}}>  
                     <button class="btn">More Info!</button>
                     </form>
                     {% endif %}
                    
                    
                </footer>
                
            </div>

            <div class="column c20">
                <h1 > Model Selector </h1>
                <label class="clabel" >{{ORDER_CONFIGURATOR_LABEL}}</label>

                <div class="mybuttonparent">
                    
                </div>
                
                <div class="mybuttonparent">
                
                
                <!-- bunch of buttons we'll use to determine what model/trim the user selected -->
                <form method="POST" action="/order">         
                <button  class="btn" type="submit" name="Model 3 Button" value="Model 3 Button">Model 3</button>
                </form>
                   
                </div>
                
                <div class="mybuttonparent">
                    <form method="POST" action="/order">         
                        <button  class="btn" type="submit" name="Model Y Button" value="Model Y Button">Model Y</button>
                        </form>
                                
                </div>
                <div class="mybuttonparent">
                    <form method="POST" action="/order">         
                        <button  class="btn" type="submit" name="Model S Button" value="Model S Button">Model S</button>
                        </form>
                                
                </div>

                <div class="mybuttonparent">
                    <form method="POST" action="/order">         
                        <button  class="btn" type="submit" name="Model X Button" value="Model X Button">Model X</button>
                        </form>
                                
                </div>
                <div><h2>{{currentmodel}}</h2></div>
                <div><label class="clabel">{{SELECTEDMODELLABEL}}</label></div>
                <!-- depending on what model the user selected will depend on how many trim buttons we generate -->
                {% for trim in CAR_DATA%}
                <div class="mybuttonparent">
                    <form method="POST" action="/order">    
                        <!-- we'll use the trim name to figure out what button the user selected, and display the appropriate image -->     
                        <button  class="btn" type="submit" name='{{trim.trim}}' value='{{trim.trim}}'>{{trim.trim}}</button>
                        </form>
                                
                </div>
                {% endfor %}

                

            


{% endblock %}