{% extends 'layout.html' %}

{% block content %}


 
    {% if update_sucessful == True %}
    <div class="messagedisplay2">
      <p class="flashtext2" align="center">Password updated sucessfully</p>
    
  </div>
  <div class="redirectmain">
   
    <p class="sign" align="center">Update Password for {{session['username']}}</p>
    <form method="post">
    <form class="form1">
      <input class="password" type="password" align="center" placeholder="Old Password" name="oldpassword" id="oldpassword">
        <input class="password" type="password" align="center" placeholder="Password" name="password" id="password">
        <input class="password" type="password" align="center" placeholder="Confirm Password" name="passwordconfirm" id="passwordconfirm">
      <button  class="updatepassword" type="submit" name="login_button" value="login_button">Update Password</button>
      
      {% for flashtext in get_flashed_messages() %}
      <p class="flashtext" align="center">{{flashtext}}</p>
          
      {% endfor %}
      
    </form>

    {% else %}
    <div class="main">
   
      <p class="sign" align="center">Update Password for {{session['username']}}</p>
      <form method="post">
      <form class="form1">
        <input class="password" type="password" align="center" placeholder="Old Password" name="oldpassword" id="oldpassword">
        <input class="password" type="password" align="center" placeholder="Password" name="password" id="password">
        <input class="password" type="password" align="center" placeholder="Confirm Password" name="passwordconfirm" id="passwordconfirm">
        <button  class="updatepassword" type="submit" name="login_button" value="login_button">Update Password</button>
        
        {% for flashtext in get_flashed_messages() %}
        <p class="flashtext" align="center">{{flashtext}}</p>
            
        {% endfor %}
        
      </form>     
    {% endif %}
  
  
    </div>
     
</body>

{% endblock %}